
# Messages output path
DATA_PATH='/data'

# Number of messages to export
MAX_MESSAGES=2000

# RabbitMQ stuff
RABBIT_NAME='local-rabbitmq'
RABBIT_HOST='localhost'
RABBIT_PORT=5672
RABBIT_MGMT_PORT=15672
USER_NAME='guest'
USER_PASSWD='guest'
QUEUE_NAME='lectura.sicadiz'
